# 忽略 .env 文件
.env

# 忽略資料卷資料夾中的所有內容
ollama_data/*
flowise_data/*
mysql_data/*
chroma_data/*
n8n_data/*
postgres_data/*
openwebui_data/*

# 但不要忽略資料夾本身
!ollama_data/
!flowise_data/
!mysql_data/
!chroma_data/
!n8n_data/
!postgres_data/
!openwebui_data/

.DS_Store
.DS_Store?
